.loginpage {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loginpage-center-piece {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.loginpage-center-piece > button {
    width: 100%;
}
